$score-font-size: 0.75em !default;
$gray: #9f9f9f !default;
$medium-gray: #999 !default;
$low-color: #ff7e63 !default;
$med-low-color: #fbab61 !default;
$medium-color: #EDE217 !default;
$med-high-color: #7ECF27 !default;
$high-color: #28b36d !default;

$pulse-color: magenta;
$pulse-alpha: 0.6;

@mixin pulse() {
  box-shadow: 0 0 0 rgba($pulse-color, $pulse-alpha);
  animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba($pulse-color, $pulse-alpha);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba($pulse-color, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba($pulse-color, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba($pulse-color, $pulse-alpha);
    box-shadow: 0 0 0 0 rgba($pulse-color, $pulse-alpha);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba($pulse-color, 0);
    box-shadow: 0 0 0 10px rgba($pulse-color, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba($pulse-color, 0);
    box-shadow: 0 0 0 0 rgba($pulse-color, 0);
  }
}

.score {
  background-color: $gray;
  color: white;
  display: inline-block;
  font-size: $score-font-size;
  line-height: 1;
  padding: .5rem .75rem;
  border-radius: $base-border-radius;
  font-weight: 700;
  // font-style: italic;
  // @include pulse;
}

// .desc {
//   max-width: 100%;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   word-wrap: normal;
// }

.score[data-score="0"]{
  background-color: $medium-gray;
}

.score[data-score="1"], .score[data-score="2"] {
  background-color: $low-color;
}

.score[data-score="3"], .score[data-score="4"] {
  background-color: $med-low-color;
}

.score[data-score="5"], .score[data-score="6"] {
  background-color: $medium-color;
}

.score[data-score="7"], .score[data-score="8"] {
  background-color: $med-high-color;
}

.score[data-score="9"], .score[data-score="10"]{
  background-color: $high-color;
}

.score.wip {
  padding: 0.25rem;
  // padding: 0.5rem;
}

.score.deprecated {
  background-color: black;
}
